﻿/**
  * file : 20230926°1921
  * note : 
  * encoding : UTF-8-with-BOM
  */

/* Header [ruleset 20230927°1911] */
header {}
header img { float:right;  }

/* Navigation [ruleset 20230927°1921] */
nav {}
nav ul li { display:inline-block; padding:0 0.4em 0 0.4em; }            /* combined selctor */
nav ul li a { text-decoration:none; font-weight:bold; padding:0 0.4em 0 0.4em; }
.SelfPageLink { pointer-events:none; cursor: default; color:Gray; font-weight:normal; }


/* Table [ruleset 20230208°1710] */
table.ProjectMatrix { border-collapse: collapse; }                          /* rule 20230208°1711 */
table.ProjectMatrix thead { border: 1px solid; padding:0 0.4em 0 0.4em; }   /* rule 20230208°1712 */
table.ProjectMatrix tbody { border: 1px solid; padding:0 0.4em 0 0.4em; }   /* rule 20230208°1713 */
table.ProjectMatrix td { border: 1px solid; line-height:1.1em; }            /* rule 20230208°1714 */
table.ProjectMatrix caption { border: 1px solid; font-weight:bold; }        /* rule 20230208°1715 */
