﻿/**
  * file : 20230926°1931
  * from : https://gist.github.com/code-boxx/372bb08f4763937aed08b678ca900781 [ref 20230923°1424]
  * encoding : UTF-8-with-BOM
  */

* {
   font-family: Arial, Helvetica, sans-serif;
   box-sizing: border-box;
}
body {
   padding: 10px;
   /* width: 400px; */
}
form {
   display: flex;
   padding: 10px;
   border: 1px solid #efefef;
   background: #f7f7f7;
}
input[type=text] {
   flex-grow: 1;
   padding: 10px;
   border: 1px solid #cbcbcb;
}
input[type=submit] {
   padding: 10px;
   border: 0;
   color: #fff;
   background: #af2727;
   cursor: pointer;
}
#results {
   margin-top: 20px;
}
#results div {
   padding: 10px;
   background: #efefef;
}
#results div:nth-child(even) {
   background: #fff;
}
